* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  font-size: 14px;
}

body {
  width: 100%;
  height: 100%;
}

/* header styling */
header {
  display: flex;
  height: 80px;
  /* background-color: grey; */
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 20px;
}

#logo img {
  width: 60px;
  height: 40px;
}

#nav ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  cursor: pointer;
}

#nav ul li sup {
  color: red;
  font-size: 13px;
}

#search input {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fafafa;
  flex-grow: 1;
  height: 40px;
}

#options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* main content design  */
#hero {
  margin: 30px 0;
}

#hero img {
  width: 100vw;
  height: 100%;
}
main #brands,
main #category {
  padding: 10px 0;
}
main section h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 30px 0;
  padding: 20px;
}

section div img {
  width: 250px;
  /* height: 400px; */
}

section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* footer design */

footer {
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  padding: 25px 0;
  text-transform: uppercase;
}

footer h5 {
  padding-bottom: 10px;
}

footer p {
  text-transform: capitalize;
  margin-top: 7px;
}
